* {
    font-family: 'Open Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

main {
    height: 500px;
    cursor: pointer;
}

h2 {
    color: white;
    font-weight: normal;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#alertMessage {
    font-size: 100px;
    color: white;
    user-select: none;
    text-align: center;
}

.btn-warning {
    width: 500px !important;
    padding: 0 !important;
    height: 100px;
    font-size: 50px;
}

.red {
    background-color: rgb(206, 38, 54);
}

.green {
    background-color: rgb(75, 219, 106);
}

.lightblue {
    background-color: rgb(43, 135, 209);
}

table {
    user-select: none;
}

tbody tr {
    color: white !important;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    #alertMessage {
        font-size: 40px;
    }
    #btnTryAgain {
        width: 250px !important;
        height: 80px;
        font-size: 50px;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}